@import 'variables';
@import 'mixins';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

/*
 *  Color Styles
 */

.brand-bg {
  background-color: $brand-primary;
}

.brand-border {
  border-color: $brand-primary;
}

.brand-color {
  color: $brand-primary;
}

.highlight-bg {
  background-color: $theme-highlight;
}

.highlight-border {
  border-color: $theme-highlight;
}

.highlight-color {
  color: $theme-highlight;
}

/*
 *  Global Styles
 */

html,
body {
  height: 100%;
  width: 100%;
  font-weight: $font-weight-base;
}

h1, .h1 {
  color: $gray-darker;
  font-weight: 700;
}


h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $gray-darker;
  font-weight: 600;
}

/*
 *  Navbar styles
 */

.navbar-custom {
  background: $brand-primary;
  border: 0;
  margin: 0;
  padding: 14px 8px 0;

  .navbar-brand {
    color: $white;
    font-family: 'Petit Formal Script', cursive;
    padding: 0;

    img {
      display: inline;
      // height: 2em;
      height: 1.75em;
      margin-right: .25em;
      vertical-align: middle;
    }

    .logo-type {
      display: inline-block;
      line-height: .925;
      vertical-align: middle;
    }

    .logo-primary {
      display: inline-block;
      font-size: 1em;
    }

    .logo-secondary {
      display: inline-block;
      font-size: .625em;
    }
  }

  .navbar-toggle,
  .navbar-toggle:focus {
    background-color: $brand-primary;
    border: 0;
    color: $white;
    margin: 0;

    &:hover,
    &:active,
    &.active {
      background-color: $brand-primary;
      color: $theme-highlight;
    }
  }

  .navbar-nav > li > a {
    color: $white;

    &:hover {
      background-color: $brand-primary;
      color: $theme-highlight;
    }
  }

  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-nav > .active > a:focus {
    background-color: $white;
    color: $brand-primary;
  }
}

@media(min-width:768px) {
  .navbar-custom {
    padding: 14px 8px 0;

    .navbar-brand {
      .logo-type {
        display: inline-block;
        line-height: .9;
        vertical-align: middle;
      }

      .logo-primary {
        display: inline;
        font-size: 1em;
      }

      .logo-secondary {
        display: inline;
        font-size: 1em;
      }
    }

    .navbar-nav > li > a {
      color: $white;
      margin-left: .5em;
      padding: .5em .75em;
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
      background-color: $white;
      color: $brand-primary;
    }

  }
}

/*
 *  Hero Area (Jumbotron) Styles
 */

.jumbotron {
  @include background-cover;
  background-attachment: scroll;
  background-image: $image-hero;
  background-position: center center;
  background-repeat: no-repeat;
  // background-color: $theme-primary;
  color: $white;
  height: calc(100vh - $navbar-height);
  margin-top: $navbar-height;
  text-align: center;
  text-shadow: $text-shadow-sm;

  h1 {
    color: $theme-highlight;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 1em 0 .5em;
  }

  h2 {
    color: $white;
    font-size: 1.375em;
    font-weight: 400;
    letter-spacing: .75px;
    line-height: 1.3;
    margin: 0 1em 1em;
  }

  form {
    margin: 0 10px;
  }

  legend {
    border: 0;
    color: $white;
    font-size: 1.25em;
    letter-spacing: .75px;
    margin-bottom: .5em;
  }

  .input-group {
    width: 100%;
  }

  .input-group-addon {
    background-color: $brand-primary;
    border: $brand-primary;
    color: $white;
  }

  .form-control {
    height: 38px;
    padding: 12px;
  }

  .input-group-btn .btn-primary{
    @include button-variant($white, $brand-primary, $brand-primary);

    &:hover,
    &:focus,
    &.focus {
      background-color: $theme-highlight;
      border-color: $theme-highlight;
      color: $brand-primary;
    }

    &:active,
    &.active {
      background-color: $theme-highlight;
      color: $brand-primary;
      border-color: $theme-highlight;
    }
  }

  .phone-number-intro {
    font-size: 1.25em;
    letter-spacing: .75px;
    margin: 1em 0 0;
  }

  .phone-number {
    color: $theme-highlight;
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
}

@media(min-width:768px) {
  .jumbotron {
    h1 {
      margin: .5em 0 .25em;
    }

    h2 {
      font-size: 1.5em;
      font-weight: 400;
      letter-spacing: .75px;
      line-height: 1.3;
      margin: 0 0 3em;
    }

    form {
      margin: 0 auto;
      width: 75%;

      .form-group,
      .input-group {
        // margin: 0;
        // width: 100%;
      }
    }

    legend {
      border: 0;
      color: $white;
      font-size: 1.25em;
      font-weight: 500;
      margin-bottom: .25em;
    }

    .phone-number-intro {
      font-size: 1.25em;
      font-weight: 500;
      margin: 0;
    }

    .phone-number {
      font-size: 2.5em;
      line-height: 1.25;
    }
  }
}

/*
 *  Services Styles
 */

#service {
   margin-top: 30px;


  .service-item {
    margin-top: 30px;
    text-align: center;

    p {
      font-size: 1.0625em;
      text-align: justify;
    }
  }
}

.btn-theme {
  @include button-variant($brand-primary, $theme-highlight, $theme-highlight);
  border: 0;
}

/*
 *  Listing Grid styles
 */

.listing-grid-item {
  border: 1px solid $gray-lighter;

  figure {
    // overflow: hidden;
  }

  .img-wrapper {
    height: 238px;
    max-height: 238px;
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  .listing-caption {
    padding: 10px 10px 0;

    p {
      line-height: 1.4;
      margin-bottom: 0;
    }
  }

  .listing-caption-left {
    float: left;
  }

  .listing-caption-right {
    float: right;
    text-align: right;
  }

  .caption-price {
    font-weight: 700;
  }

  .caption-location {
    // display: inline-block;
    // float: right;
  }

  .listing-price {
    font-weight: 700;
  }

  .listing-type {
    // float: right;
  }
}

[class*=" imghvr-"] figcaption,
[class^="imghvr-"] figcaption {
  background-color: $brand-primary;
}

[class*=" imghvr-"],
[class^="imghvr-"] {
  background-color: $white;
  color: $brand-primary;
}

// Listing Detail Styles

.detail-modal {
  .img-main {
    border: 1px solid $gray-light;
  }

  .detail-modal-sub {
    font-weight: 300;
  }

  .detail-label {
    font-weight: 500;
  }

}

// @media(min-width:768px) {
//
// }
