//
//  Color Styles
//

.brand-bg {
  background-color: $blue-medium;
}

.brand-border {
  border-color: $blue-medium;
}

.brand-color {
  color: $blue-medium;
}

.highlight-bg {
  background-color: $blue-light;
}

.highlight-border {
  border-color: $blue-light;
}

.highlight-color {
  color: $blue-light;
}

.btn-theme {
  @include button-variant($brand-primary, $white, $brand-primary);
  border: 0;
}

//
//  Global Styles
//

html,
body {
  font-weight: $font-weight-base;
  height: 100%;
  width: 100%;
}

h1,
.h1 {
  color: $blue-dark;
  font-weight: 700;
}

h2,
.h2 {
  color: $blue-dark;
  font-size: 3em;
  font-weight: 500;
}

h3,
.h3 {
  color: $gray;
  font-weight: 400;
  text-align: center;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $gray-darker;
  font-weight: 500;
}

//
//  Navbar styles
//

.navbar-custom {
  background: $brand-primary;
  border: 0;
  font-size: $navbar-font-size;
  font-weight: $font-weight-base;
  margin: 0;
  padding: 0 10px;

  .navbar-brand {
    color: $white;
    display: inline-block;
    font-family: $font-family-serif;
    font-weight: 400;
    height: 100%;

    img {
      display: inline;
      vertical-align: middle;
    }
  }

  .navbar-toggle,
  .navbar-toggle:focus {
    background-color: $brand-primary;
    border: 0;
    color: $white;
    font-weight: $font-weight-base;
    margin: 14px 0;
    // vertical-align: middle;

    &:hover,
    &:active,
    &.active {
      background-color: $brand-primary;
      color: $theme-highlight;
    }
  }

  .navbar-nav {
    & > li > a {
      color: $white;

      &:hover {
        background-color: $brand-primary;
        color: $theme-highlight;
      }
    }

    & > .active > a,
    & > .active > a:hover,
    & > .active > a:focus {
      background-color: $white;
      color: $brand-primary;
    }
  }
}

@media(min-width:768px) {
  .navbar-custom {
    .navbar-right {
      margin: 6px 0;
    }

    .navbar-nav {
      & > li > a {
        color: $white;
        // margin-left: .5em;
        margin: .5em 0;
        padding: .5em .75em;
      }

      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus {
        background-color: $white;
        color: $brand-primary;
      }
    }
  }
}

@media(min-width:992px) {
  .navbar-custom {
    // padding: 14px 8px 0;

    .navbar-brand {
      // .logo-type {
      //   display: inline-block;
      //   vertical-align: middle;
      // }
      //
      // .logo-primary {
      //   display: inline;
      //   font-size: 1em;
      // }
      //
      // .logo-secondary {
      //   display: inline;
      //   font-size: 1em;
      // }
    }
  }
}
//
//  Hero Area (Jumbotron) Styles
//

.jumbotron {
  @include background-cover;
  background-attachment: scroll;
  background-image: $image-hero;
  background-position: center center;
  background-repeat: no-repeat;
  // background-color: $theme-primary;
  color: $white;
  font-weight: 400;
  height: calc(100vh - $navbar-height);
  margin-top: $navbar-height;
  text-align: center;
  text-shadow: $text-shadow-sm;

  h1 {
    color: $theme-highlight;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: .5em;
  }

  h2 {
    color: $white;
    font-size: 1.375em;
    font-weight: 400;
    letter-spacing: .75px;
    line-height: 1.3;
    margin: 0 1em 1em;
  }

  .phone-number-intro {
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: .75px;
    margin: 1em 0 0;
  }

  .phone-number {
    color: $theme-highlight;
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: 1.5px;
  }

  a[href^="tel"] {
    color: $theme-highlight;
    text-decoration: none;
  }

}

@media(min-width:480px) {
  .jumbotron {
    padding-bottom: 3.5em;
    padding-top: 3em;
  }
}

@media(min-width:768px) {
  .jumbotron {
    h1 {
      margin: .5em 0 .25em;
    }

    h2 {
      font-size: 1.5em;
      font-weight: 400;
      letter-spacing: .75px;
      line-height: 1.3;
      margin: 0 0 3em;
    }

    .phone-number-intro {
      font-size: 1.25em;
      font-weight: 500;
      margin: 0;
    }

    .phone-number {
      font-size: 3.5em;
      line-height: 1.2;
    }

    .contact-btn {
      margin-bottom: 3em;
    }
  }
}

@media(min-width:992px) {
  .jumbotron {
    padding: 4em 0 5em;
  }
}

.contact-modal .modal-body {
  padding: 1.25em 1.25em .5em;

  button {
    margin-right: .5em;
  }

  button:last-of-type {
    margin-right: 0;
  }

}

// Form Styles

form {
  margin: 0;

  [class*=" col-"] {
    padding: 0;
  }
}

@media(min-width:768px) {
  [class*=" col-sm-6"]:first-of-type {
    padding-right: .75em;
  }

  [class*=" col-sm-6"]:last-of-type {
    padding-left: .75em;
  }
}

.form-control, input {
  // font-weight: 300;
  // height: 38px;
  // line-height: 1;
  // padding: 12px;
}

.input-group {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.input-group-addon {
  background-color: $brand-primary;
  border: $brand-primary;
  color: $white;
}

.input-group-btn .btn-primary{
  @include button-variant($white, $brand-primary, $brand-primary);

  &:hover,
  &:focus,
  &.focus {
    background-color: $theme-highlight;
    border-color: $theme-highlight;
    color: $brand-primary;
  }

  &:active,
  &.active {
    background-color: $theme-highlight;
    border-color: $theme-highlight;
    color: $brand-primary;
  }
}

//
// Section styles
//

section {
  margin-top: 1.25em;

  h2 {
    color: $blue-dark;
    // margin: 1em 0 1em;
    text-align: center;
  }
}

//
//  Services Styles
//

.service {
  margin-top: 30px;

  .service-item {
    margin-top: 30px;
    text-align: center;
    overflow: hidden;

    .service-icon {
      text-align: center;
      overflow: hidden;

      .fa-stack {
        margin: 0 auto;
      }

      .fa-circle {
        color: $blue-medium;
      }

      .fa-stack-1x {
        color: $white;
      }
    }
    .service-copy {
      overflow: hidden;
    }
    p {
      font-size: 1.0625em;
      text-align: justify;
    }
  }
}

@media(min-width:480px) {
  .service .service-item {
    margin-top: 0;
    .service-icon {
      padding-top: 60px;
      text-align: center;
    }

    p {
      margin-bottom: 30px;
    }
  }
}

@media(min-width:640px) {
  .service .service-item {

    .service-icon {
      padding-top: 60px;
      text-align: center;
    }
  }
}

//
// Listings Styles
//

.listings {
  h3 {
    margin-top: 0;
  }
}

// set grid boxes to equal height

@media(min-width:768px) {
  .row-eq-height {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .row-eq-height > .listing-grid-item {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    // flex:1 1 auto;
  }
}

.listing-grid-item {
  margin-bottom: 1em;

  .img-wrapper {
    // overflow:hidden;
    // max-height: 240px;
    // // width: 100%;
  }

  img {
    // // position: absolute;
    // // max-width: 100%;
    // // max-height: 100%;
    // // width: 100%
    // // max-width: 100%;
    // // overflow: hidden;
    // height: auto;
    // width: 100%;
  }

  p {
    line-height: 1.4;
    margin-bottom: 0;
  }

  .listing-caption {
    padding: 10px 0 0;
  }

  .listing-caption-left {
    float: left;
    padding: 0;
  }

  .listing-caption-right {
    float: right;
    padding: 0;
    text-align: right;
  }

  .listing-address {
    margin-top: 1em;
  }

  .listing-savings {
    font-weight: 500;
    // margin-top: 2em;
  }

  .listing-mls {
    margin-top: 1em;
  }

  .caption-savings {
    display: inline;
    font-weight: 600;
    margin-top: .25em;
    text-align: center;
  }

  .caption-price {
    font-weight: 600;
  }

  .status-sold {
    background: $brand-primary;
    border-radius: 4px;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    padding: 3px 6px;
  }

  button {
    bottom: 1.5em;
    position: absolute;
    right: 1.5em;
  }

  .listing-price {
    font-weight: 600;
  }

  .listing-rooms {
    margin-top: .5em;
  }

  .separator {
    margin: 0 .5em;
  }
}

[class*=" imghvr-"] figcaption,
[class^="imghvr-"] figcaption {
  background-color: $brand-primary;
  padding: 1.5em;
}

[class*=" imghvr-"],
[class^="imghvr-"] {
  background-color: $white;
  color: $brand-primary;
}

// .hvr-img {
//   min-height: 100%;
//   min-width: 100%;
//   overflow: hidden;
// }

// Listing Detail Styles

.modal-content {
  border: 0;
  border-radius: $border-radius-base;
}

.modal-header {
  background-color: $brand-primary;
  color: $white;

  .close {
    color: $white;
    opacity: 1;

    &:hover {
      color: $theme-highlight;
    }
  }

  .modal-title {
    color: $white;
    font-weight: 400;
    line-height: 1.3;
  }
}


.detail-modal {
  .img-gallery {
    margin-bottom: 1em;
  }

  .img-main {
    border: 1px solid $gray-light;
    width: 100%;
  }

  .detail-modal-sub {
    font-weight: 300;
  }

  .detail-description {
    margin-bottom: 1.5em;
    margin-top: 1.25em;
  }

  .detail-group {
    margin-bottom: 1.25em;

    h4 {
      color: $brand-primary;
      margin-bottom: .5em;
    }

    hr {
      margin: 0 0 .5em;
    }

    p {
      margin-bottom: 0;
    }

    .detail-label {
      font-weight: 500;
    }
  }

}

// flexslider slide show styles
// .flexslider {
//   margin-bottom: 0;
// }

// galeria pblugin for image gallery
.galleria {
  background-color: $white;
  height: 320px;
  width: 100%;
}

@media(min-width:640px) {
  .galleria {
    height: 480px;
  }
}

@media(min-width:768px) {
  .galleria {
    height: 400px;
  }
}

@media(min-width:992px) {
  .galleria {
    height: 600px;
  }
}
